<app-header [content]="pageContent.header"></app-header>
    <div class="about">
        
        <div class="col-md-2 col-sm-6">
            <div class="aboutus-banner"></div>
        </div>
        
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="aboutus"></div>
            <h2 class="aboutus-title"></h2>
           
            <p class="aboutus-text">
                “I pronounce after all there is no pleasure like perusing!”- Jane Austen, Pride, and Prejudice.<br>

                Dear readers,<br>
                The wide scope of books offered by us incorporates fantasies, moral stories, showed storybooks, reference books,
                 general learning books, sentence structure books, shading books, action books, sticker books, and some more. 
                 Every one of these books is accessible in both English and Hindi.
            </p>
        </div>
       
        <div class="col-md-5 col-sm-6 col-xs-12">
            <div class="feature"></div>
            <div class="feature-box">
                <div class="clearfix"></div>
                <div class="iconset"><span class="glyphicon glyphicon-cog icon"></span></div>
                <div class="feature-content">
                    <h4>We offer a tremendous gathering of books</h4>
                    <p></p>We offer a tremendous gathering of books in the various classifications of Fiction, Non-fiction, 
                    Biographies, History, Religions, Self – Help, Children. We likewise move in immense accumulation of 
                    Investments and Management, Computers, Engineering, Medical, College and School content references books
                    proposed by various foundations as schedule the nation over. </div>
            </div>
            <div class="feature-box">
                <div class="clearfix"></div>
                <div class="iconset"><span class="glyphicon glyphicon-cog icon"></span></div>
                <div class="feature-content">
                    <h4>Welcome every one of the merchants around the nation to band together with us.</h4>
                    <p></p>We modestly welcome every one of the merchants around the nation to band together with us. 
                    We will without a doubt give you the stage to many shimmering areas and develop the “Organization Name” family. 
                    We might want to thank you for shopping with us. You can keep in touch with us for any new musings at “email-id” 
                    helping us to ad-lib for the peruser fulfillment.</div>
            </div>
            <div class="feature-box">
                <div class="clearfix"></div>
                <div class="iconset"><span class="glyphicon glyphicon-cog icon"></span></div>
                <div class="feature-content">
                    <h4> Offers wide scope of books</h4>
                    <p></p>The wide scope of books offered by us incorporates fantasies, moral stories, showed storybooks, 
                    reference books, general learning books, sentence structure books, shading books, action books, sticker 
                    books, and some more. Every one of these books is accessible in both English,Hindi and many other languages</div>
            </div>
        </div>
    
    </div>

