<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/"><b><i>Home</i></b></a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" style="font-size:medium;"><a class="nav-link" href="/about"><b><i>About</i></b><span class="sr-only">(current)</span></a></li>
            <li class="nav-item active" style="font-size: medium;"><a class="nav-link" href="/list"><b><i>List</i></b><span class="sr-only">(current)</span></a></li>
            <li class="nav-item active" style="font-size: medium;"><a class="nav-link" href="/new"><b><i>Create</i></b> <span class="sr-only">(current)</span></a></li>
            
        </ul>
    </div>
</nav>


<router-outlet></router-outlet>


<div class="footer-basic">
    <footer>
        <!-- <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div> -->
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Home</a></li>
            <li class="list-inline-item"><a href="/new">Services</a></li>
            <li class="list-inline-item"><a href="/about">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">The Book House © 2022</p>
    </footer>
</div>
