extends layout



block content
    .aboutus-section
    .container.about_bg
        .row
        .col-md-3.col-sm-6.col-xs-12
            .aboutus
            h2.aboutus-title=title 
            p.aboutus-text
                The Book house, a nonprofit organization, champions our nation’s cultural heritage by publishing Canada's 
                greatest writing in authoritative new editions and providing resources for readers to explore this rich, living legacy. 
                Widely recognized as the definitive collection of Canadian writing, Library of Canada editions encompass all periods 
                and genres—including acknowledged classics, neglected masterpieces, and historically important documents and texts—and 
                showcase the vitality and variety of our literary legacy. 
            
        .col-md-3.col-sm-6.col-xs-12
            .aboutus-banner
            
        .col-md-5.col-sm-6.col-xs-12
            .feature
            .feature-box
                .clearfix
                .iconset
                    span.glyphicon.glyphicon-cog.icon
                .feature-content
                    h4 Open on all days
                    p
                    | Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.
            .feature-box
                .clearfix
                .iconset
                    span.glyphicon.glyphicon-cog.icon
                .feature-content
                    h4 Latest books available
                    p
                    | Donec vitae sapien ut libero venenatis faucibu. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt
            .feature-box
                .clearfix
                .iconset
                    span.glyphicon.glyphicon-cog.icon
                .feature-content
                    h4 Great support
                    p
                    | Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.
