extends layout

block content
  h1= title
  p "A reader lives a thousand lifes before he dies" George Martin

  .page-holder.bg-cover(style='background: url(images/index.jpg)')
    .container.py-5
      header.text-center.text-white.py-5
        h1.display-4.font-weight-bold.mb-4=title 
        p.lead.mb-0 Welcome to the world of books..!!!
        p.font-italic
         
      .text-white
        p.lead
          
          code.bg-white.px-2.py-1.rounded A non profit organisation
           
        p.lead
          
          code.bg-white.px-2.py-1.rounded Find your favourites here
        p.lead
          | 
          code.bg-white.px-2.py-1.rounded Open on all days for you
        

