
<app-header [content]="pageContent.header"></app-header>
<div class="page-holder bg-cover" style="background: url(assets/index.jpg)">
    <div class="container py-5">
        <header class="text-center text-white">
            <h1 class="display-4 font-weight-bold mb-4"></h1>
            <p class="lead mb-0">Welcome to the world of books..!!!</p> <br>
            <p class="font-italic">"A reader lives a thousand lifes before he dies"  -George Martin</p>
        </header>
       
        <section class="">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6 p-5 home-banner">
                        
                        <p class="lead"><i>THE BOOK HOUSE </i>contains dreams built of wood and paper. They are time travel and escape and knowledge and power. They are, simply put, the best of places.”</p>
                        <p class="mb-0">“Every book in a bookstore is a fresh beginning. Every book is the next iteration of a very old story. Every bookstore, therefore, is like a safe-deposit box for civilization.”</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>